In [1]:
import numpy as np
import pandas as pd

### Groupby

In [3]:
data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Salesperson': ['Amit', 'Neha', 'Ravi', 'Pooja', 'Amit', 'Ravi', 'Neha', 'Amit'],
    'Product': ['Laptop', 'Mobile', 'Laptop', 'Tablet', 'Tablet', 'Laptop', 'Mobile', 'Mobile'],
    'Sales': [20000, 15000, 18000, 22000, 25000, 17000, 16000, 14000],
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar', 'Mar', 'Mar']
}

df = pd.DataFrame(data)
df

  Region Salesperson Product  Sales Month
0  North        Amit  Laptop  20000   Jan
1  South        Neha  Mobile  15000   Jan
2   East        Ravi  Laptop  18000   Feb
3   West       Pooja  Tablet  22000   Feb
4  North        Amit  Tablet  25000   Mar
5  South        Ravi  Laptop  17000   Mar
6   East        Neha  Mobile  16000   Mar
7   West        Amit  Mobile  14000   Mar

In [9]:
summ = df.groupby('Product')['Sales'].sum()
summ

Product
Laptop    55000
Mobile    45000
Tablet    47000
Name: Sales, dtype: int64

In [12]:
df.groupby('Salesperson')['Sales'].sum()

Salesperson
Amit     59000
Neha     31000
Pooja    22000
Ravi     35000
Name: Sales, dtype: int64

In [16]:
df.groupby(['Salesperson','Product'])['Sales'].sum()

Salesperson  Product
Amit         Laptop     20000
             Mobile     14000
             Tablet     25000
Neha         Mobile     31000
Pooja        Tablet     22000
Ravi         Laptop     35000
Name: Sales, dtype: int64

### Aggregation

In [17]:
df['Sales'].mean()

np.float64(18375.0)

In [18]:
df['Sales'].min()

np.int64(14000)

In [19]:
df['Sales'].mode()

0    14000
1    15000
2    16000
3    17000
4    18000
5    20000
6    22000
7    25000
Name: Sales, dtype: int64

In [20]:
df['Sales'].std()

np.float64(3739.2703642746746)

In [21]:
df['Sales'].median()

np.float64(17500.0)

In [22]:
df['Sales'].max()

np.int64(25000)

In [23]:
df['Sales'].count()

np.int64(8)

In [28]:
df['Sales'].agg(['mean','median','std','count','max','min'])

mean      18375.000000
median    17500.000000
std        3739.270364
count         8.000000
max       25000.000000
min       14000.000000
Name: Sales, dtype: float64